<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>event2</title>
    <script src="https://unpkg.com/vue@2"></script>
</head>

<body>
    <div id="app">
        <input type="text" v-model="friendName">
        <input type="text" v-model="friendAge">
        <button v-on:click="addFriend">등록</button>

        <table>
            <tbody>
                <tr v-for="friend in friends">
                    <td>{{friend.name}}</td>
                    <td>{{friend.age}}</td>
                    <td><button v-on:click="delFriend(friend)">삭제</button></td>
                </tr>
            </tbody>
        </table>
    </div>

    <script>
        new Vue({
            el: '#app',
            data: {
                friendName: '',
                friendAge: '',
                friends: [{
                        name: '홍길동',
                        age: 20
                    },
                    {
                        name: '김길동',
                        age: 30
                    }
                ],
                friend:''
            },
            methods: {
                addFriend: function () {
                    let list = {
                        name: this.friendName,
                        age: this.friendAge
                    }
                    if (!list.name || !list.age) {
                        alert('값을 입력바람')
                        return;
                    }
                    this.friends.push(list)
                },
                delFriend: function (friend) {
                    
                    for (let i = 0; i < this.friends.length; i++) {
                        if(friend == this.friends[i]){
                           //console.log(this.friends[i].name)
                           //console.log(this.friends[i])
                           //remove(this.friends[i]); //아니 이거 어케지움?????
                           this.friends.splice(i,1);
                       }
                        
                    }
                }
            }
        })
    </script>
</body>

</html>